body {
    font-family: Montserrat, 'sans-serif';
}

.teamtable {
    background-color: aliceblue;
}

td {
    border: 1px solid grey;
}

table {
    border-collapse: collapse;
    width: 50%;
}

a {
    text-decoration: none;
}